.image {
    width: 150px;
    border-radius: 5%;
    filter: contrast(180%);
    box-shadow: 7px 7px 5px rgb(95, 95, 95);
}

.col-md-9 {
    margin-top: 40px;
}

div.container-fluid {
    margin-top: 70px;
}

h3, h4 {
    font-size: 2rem;
    letter-spacing: .01rem;
    color:rgba(224, 222, 222, 0.856);
}

footer.container-fluid {
    margin-top: 182px;
    float: left;
    margin-left: 0;
}

div.col-md-12 a {
    color: rgba(102, 102, 102, 0.671);
    text-decoration: none;
}
div.col-md-12 h4 {
    color: rgba(102, 102, 102, 0.671);
}
