<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <img src="assets/img/cv1.jpg" alt="CvImage" class="image img-responsive">
        </div>
        <div class="col-md-9">
            <h3>Hello there! </h3>
            <h3>My name is Andrei Bîrlan. I love programming and I want to follow a career as a Front-Web Developer. </h3>
            <h4>I started studying the JavaScript languange at the beginning of 2020 and step by step I have started to develop apps via Angular 9 framework.</h4>
            <h4>Feel free to take a look at my most recent projects at my Portofolio tab.</h4>
        </div>
    </div>  
</div>

<footer class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h4>Contact</h4>
            <a href="https://www.linkedin.com/feed/" target="_blank">
            <i class="fa fa-fw fa-2x fa-linkedin-square"></i>
            <span>LinkedIn</span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a href="https://www.facebook.com/barlan.andrei.9/" target="_blank" >
            <i class="fa fa-fw fa-2x fa-facebook-square"></i>
            <span>Facebook</span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a href="https://github.com/AndreiBirlan" target="_blank">
            <i class="fa fa-fw fa-2x fa-github-square"></i>
            <span>GitHub</span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a><i class="fa fa-fw fa-2x fa-envelope-square"></i>
            <span>andrei.birlan93@gmail.com</span></a>
        </div>
    </div>
</footer>
