/* You can add global styles to this file, and also import other style files */

body {
    /* background-color: #f5f8fa; */
    /* background-color: hsl(194, 80%, 32%); */
    font-family: 'Noto Sans JP', sans-serif;
    background-image: linear-gradient( rgb(255, 255, 255), rgb(0, 0, 0));
    padding-top: 70px;
    height: 100vh;
}